.PhoneInput {
  width: 100%;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #02071b !important;
  color: white;
}

.PhoneInputInput {
  background-color: #02071b !important;
  font-size: 14px;
  outline: none;
  border: none;
}

.PhoneInputInput::placeholder {
  color: #ccc;
}

.PhoneInputInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.PhoneInputInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

.PhoneInputCountry {
  margin-right: 10px;
}

.PhoneInputCountryIconImg {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
